<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <%= require("html-loader!../common/crumbs/index.html") %>
      <section class="banner-container bg-module">
        <div class="text">
          <div class="title wow fadeInUp">ABOUT</div>
          <div class="desc wow fadeInUp" data-wow-delay="200ms">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, eligendi.
          </div>
        </div>
        <div class="bg-mask"></div>
        <img src="/public/images/about-banner.jpg" alt="" class="bg-img">
      </section>
      <div class="about-container min-center">
        <div class="title wow fadeInUp">About Us</div>
        <div class="content wow fadeInUp">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quisquam cupiditate iusto quo, velit quod
            dolore deleniti aliquid laudantium molestias sunt voluptate minus. Voluptates maiores, repellendus expedita
            mollitia ipsum animi!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam est quasi, autem illum expedita harum
            nobis vel ducimus, error architecto ad. Alias praesentium ullam, possimus molestias error sed.
            Necessitatibus, dolores.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem explicabo velit quibusdam sed recusandae
            voluptatem asperiores, quo ipsum, esse omnis iusto veniam sit obcaecati, aspernatur quod. Est iusto quaerat
            facilis!
          </p>
        </div>
      </div>
      <div class="show-container" style="background-image: url(/public/images/about-bg.jpg);">
        <div class="show-container">
          <div class="title wow fadeInUp">ABOUT US</div>
          <div class="desc wow fadeInUp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat commodi sapiente assumenda quis itaque
            consectetur tempore, aperiam minima ex in excepturi .
          </div>
          <a href="" class="more wow fadeInUp">SHOW MORE</a>
        </div>
      </div>
      <div class="pictures-container min-center">
        <div class="title-module">
          <div class="title wow fadeInUp">RELATED PICTURES</div>
          <div class="desc wow fadeInUp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, accusamus.</div>
        </div>
        <ul class="product-list">
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-01.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-02.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-03.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-04.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-05.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-01.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-02.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>
          <li class="product-item wow fadeInUp">
            <a href="">
              <img src="/public/images/pro-03.jpg" alt="">
              <div class="text">
                <div class="title">Lorem, ipsum.</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>